.dashboardMain .sideMenu {
    padding-top: 5.2svh;
    display: grid;
    grid-template-rows: max-content;
    row-gap: 0.8em;
    grid-row: 1/-1;
    font-weight: var(--font-semibold);
    text-transform: capitalize;
    color: var(--gray-500);
  }
  
  .dashboardMain .sideMenu * {
    padding-bottom: 0.2em;
  }
  
  .dashboardMain .sideMenu .selected {
    /* text-decoration: underline; */
    color: var(--blue-700) !important;
    border-bottom: 0.1em solid var(--blue-700);
  }
  