/* html {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
} */

.dashboardMain {
  background-color: var(--slate-200);
  width: 75%;
  height: 90.7svh;
  display: grid;
  column-gap: 2svw;
  grid-template-columns: 1fr 8fr;
  padding: 2svh 12.5svw;
  grid-template-rows: 5svh 1fr;
}

.dashboardMain * {
  background-color: transparent;
}

.dashboardMain form {
  background-color: white;
  grid-column: 2/2;
  width: 95%;
  display: grid;
  row-gap: 2em;
  justify-content: center;
  column-gap: 5em;
  padding: 2em;
  height: 50%;
  grid-template-columns: 1fr 1fr;
}

.dashboardMain form > div:not(.changePassword) {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-flow: column;
  align-items: center;
}
.dashboardMain form .changePassword {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  align-self: center;
  justify-self: center;
}

.dashboardMain form .changePassword :first-child {
  align-self: center;
  justify-self: center;
}

.changePassword h3 {
  font-size: 1.1em;
  color: var(--gray-500);
}

.dashboardMain form div:not(.changePassword) :first-child {
  font-size: 1.2em;
  color: var(--gray-500);
}

.dashboardMain form input,
.dashboardMain form input:focus,
.dashboardMain form button,
.dashboardMain form p {
  outline: none;
  border: none;
  border-bottom: 0.1em solid var(--gray-300);
  font-size: 1.1em;
  width: 80%;
  align-self: center;
  justify-self: center;
  height: 100%;
  box-shadow: var(--shadow-sm);
}

.dashboardMain form button {
  height: 5svh;
}

.dashboardMain .changePassword button {
  background-color: var(--slate-200);
  width: 12svw !important;
  border-radius: 0.5em;
  color: var(--gray-600);
}

.dashboardMain form button[type="reset"] {
  background-color: var(--slate-200);
  border-radius: 0.5em;
  /* color: var(--blue-50); */
}

.dashboardMain form button[type="submit"] {
  background-color: var(--blue-600);
  border-radius: 0.5em;
  color: var(--blue-50);
}

.dashboardMain .title {
  font-size: 1.5em;
  color: var(--gray-600);
  letter-spacing: 0.05em;
}

